extends layout.pug

block content
  h1 Catalogo Prodotti

  .prodotti-container
    each prodotto in listaProdotti
      .card(class=prodotto.sconto > 0 ? 'promo' : '')
        h3= prodotto.nome
        p.categoria Categoria: #{prodotto.categoria}
        p.prezzo Prezzo: €#{prodotto.prezzo}
        
        if prodotto.sconto > 0
          span.badge-sconto Sconto: #{prodotto.sconto}%
        
        if prodotto.disponibile
          button.btn-acquista Aggiungi al carrello
        else
          p.esaurito Prodotto momentaneamente non disponibile
    
    else
      p.empty-msg Nessun prodotto trovato nel catalogo.